<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= assigns[:page_title] || "App · Phoenix Framework" %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
  </head>
  <body>
    <header>
      <section class="container">
        <nav role="navigation">
          <ul>
            <li style="float:right"><a href="/optional">Auth Optional</a></li>
            <li style="float:right; margin-right:20px;"><a href="/admin">Admin</a></li>
            <%= if Map.has_key?(@conn.assigns, :person) do %>
              <li> <img width="32px" src="<%= @conn.assigns.person.picture %>" style="float:right;"/> </li>
            <% end %>
          </ul>
        </nav>
        <a href="https://github.com/dwyl/auth_plug">
          <b>auth_plug<b>
        </a>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
